.layer {
  .title {
    border-left: 6px solid #e3872d;
    padding-left: 10px;
    padding-top: 6px;
    .main {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 5px;
    }

    .sub {
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .content {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 30px;
  }
}
