.flip_card_container {
  width: 320px;
  overflow: hidden;
  margin-right: 20px;
  background: #fff;
  .center {
    position: relative;
    .cover {
      overflow: hidden;
      .coverImg {
        width: 100%;
        height: 450px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .mask {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 90px;
      padding: 20px 16px;
      color: #fff;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      transition: all 0.2s linear;
      background: rgba(33, 37, 41, 0.7);
      text-align: left;

      &:hover {
        cursor: pointer;
      }
      .title {
        color: #d3d3d3;
        font-size: 16px;
      }

      .desc {
      }

      .tags {
        padding: 10px;
        display: inline-block;
        .tag {
          display: inline-block;
          padding-left: 6px;
          padding-right: 6px;
          color: #fff;
          background: #ccc;
          border-radius: 4px;
        }

        .tag + .tag {
          margin-left: 10px;
        }
      }
    }
    &:hover {
      .mask {
        display: block;
        height: 100%;
        width: 100%;
        background: #aaa;
        color: #fff;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        transition: all 0.2s linear;
        background: rgba(33, 37, 41, 0.7);
      }
    }
  }
}
