.content {
  min-height: 1000px;
  flex: 1;
  background: #eee;
  overflow: scroll;
  padding: 20px;
  padding-bottom: 100px;
  position: relative;

  .contentFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background: #303030;
    color: #fff;
    font-size: 16px;
    line-height: 100px;
  }
}

.aboutme {
  display: flex;
  .left {
    .img {
    }
  }

  .right {
    padding-left: 15px;
    .slogan {
    }

    .short {
    }

    .long {
    }

    .section {
      .items {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 10px 0;
        .item {
          width: 50%;
          min-width: 50%;
          padding-top: 10px;
          padding-bottom: 10px;
          .label {
          }

          .href {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.piecework {
  display: flex;
  width: fit-content;
}

.engineeredtool {
  display: flex;
  width: fit-content;
}
