.rethink {
  background: #f3f3f3;
  .main {
    background: #fff;
    width: 1280px;
    margin: 0 auto;
    .content {
      background: #fff;
      box-shadow: 0 8px 16px 0 rgb(105, 123, 140, 10%);
      min-height: 100vh;
      text-align: center;
      padding: 24px;
      .title {
        font-size: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .meta {
        font-size: 16px;
        .author,
        .cretaed-time {
          color: #3c3c3c;
          display: inline-block;
        }
        .author {
          margin-right: 20px;
        }
        .cretaed-time {
        }
      }
      .description {
        margin: 30px;
        font-size: 20px;
      }
      .article {
        font-size: 24px;
      }
    }
  }
}
