<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Your App</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-wroker.js') //这块注意不要改动
            .then((registration) => {
              console.log('SW registered: ', registration);
            })
            .catch((registrationError) => {
              console.log('SW registration failed: ', registrationError);
            });
        });

        navigator.serviceWorker.getRegistrations()
          .then(function(registrations) {
            for(let registration of registrations) {
              //安装在网页的service worker不止一个，找到我们的那个并删除
              if(registration && registration.scope === 'https://seed.futunn.com/'){
                registration.unregister();
              }
            }
          });
      }


    </script>
  </body>
</html>
