.layout {
  .header {
    height: 80px;
    line-height: 80px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }

    :global {
      .nav {
        height: 80px;
        background-color: #e3e3e3;
        color: #3e3e3e;

        .left,
        .menu,
        .right {
          height: 80px;
          line-height: 80px;
        }
      }
    }
  }
}
