.layout {
  .header {
    height: 80px;
    line-height: 80px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }

    :global {
      .tiangong-nav {
        height: 80px;
        background: none;
        color: #3e3e3e;

        .left,
        .menu,
        .right {
          height: 80px;
          line-height: 80px;
        }

        .left {
          padding: 0;
        }
        .left img {
          height: 100%;
          padding: 10px;
        }
      }
    }
  }
}
